*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color:#EAE4D5
}

header
{
    text-align: center; 
}

header H1
{
    background-color: black;
    color:white;
    padding:1em;
}

nav ul
{
    display:flex;
    flex-direction:row;
    list-style:none;
    justify-content:space-evenly;
    margin:1em;
    font-size:20px;
}

#result
{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center; 
    
}
#result p
{
    margin:1em;
    font-size:200px;
}

#h2_top3,#h2_first_10,#h2_second_10
{
    background-color:#B6B09F;
    width:100%;
    font-size:30px;
    text-align: center;
    padding:5px;
}
#top_3
{
    padding:10px;
    font-size:50px;
}

#first_10 ,#second_10
{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    row-gap:10px;
    column-gap:160px;
    padding:10px;
    font-size:50px;
    list-style: none;
}


